/* .homeWeather {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    background: #FFFDF6;
} */
.homeWeather {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.leftSide, .rightSide {
  flex: 1;
}

.location, .caution {
    color: #37593E;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    margin-bottom: 10px;
}

.weatherContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    font-family: 'Pretendard', sans-serif;
    color: #37593E;
  }
  
  .weatherIconContainer {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .weatherDetails {
    display: flex;
    flex-direction: column;
  }
  
.dateTemperature {
    align-items: center;
    color: #37593E;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dateTemperature span {
    text-align: center;
}

.dateTemperature span:nth-child(2) {
    font-size: 29.68px; 
}

.pollutionDetails {
  margin-top: 40px;
  margin-left: 10px;
  display: flex; 
}

.pollutionDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.pollutionDetail:last-child {
  margin-right: 0;
}

.pollutionLevels {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.pollutionIndex, .pollutionLabel, .pollutionStatus {
    font-size: 18px;
    font-weight: 700;
  }
  
  .pollutionStatus {
    padding: 4px 8px;
    border-radius: 10px;
    color: white;
  }
  
  .pollutionStatus.good {
    background-color: #0038FF; /* 좋음 */
  }
  
  .pollutionStatus.fair {
    background-color: #00CF2B; /* 보통 */
  }
  
  .pollutionStatus.bad {
    background-color: #FFA300; /* 나쁨 */
  }
  
  .pollutionStatus.veryBad {
    background-color: #FF6E00; /* 매우나쁨 */
  }

.dataDisclaimer {
    width: auto; 
    color: #1F2329;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px; 
    text-align: center;
}
