.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffd200;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    }
    
.button:hover {
    background-color: #fcc419;
    }
    
.img {
    max-width: 150px;
    }